<div class="container">
    <div class="checkout-card">
      <div class="title">
        <p><span>Enter Payment Details</span>
      </div>
      <form [formGroup]="checkoutForm" (ngSubmit)="checkout()" class="detail-info">
        <div class="info">
          <h3>Total Price ${{ totalPrice | number : '1.2-2'}}</h3>
          <small>Enter your credit card detail to complete checkout</small>
        </div>
        <div class="input-field w-full">
          <label for="card_number">Card number</label>
          <input type="number" id="card_number" placeholder="1234 5678 9012 3456" [ngClass]="{'invalid':cardNumber?.invalid&&cardNumber?.touched}" formControlName="cardNumber">
          <div *ngIf="cardNumber?.invalid &&cardNumber?.touched" class="error-message-container">
            <small *ngIf="cardNumber?.errors?.['required']">Card number required</small>
            <small *ngIf="cardNumber?.errors?.['pattern']">Invalid card number</small>
          </div>
        </div>
        <div class="grid">
          <div class="input-field">
            <label for="expire_date">Expire date</label>
            <input type="date" id="expire_date" placeholder="23-Jan-2021" [ngClass]="{'invalid':expireDate?.invalid&&expireDate?.touched}" formControlName="expireDate">
            <div *ngIf="expireDate?.invalid &&expireDate?.touched" class="error-message-container">
                <small *ngIf="expireDate?.errors?.['required']">Expire date required</small>
            </div>
          </div>
          <div class="input-field">
            <label for="card_code">Card code</label>
            <input type="number" id="card_code" placeholder="322" [ngClass]="{'invalid':cardCode?.invalid&&cardCode?.touched}" formControlName="cardCode">
            <div *ngIf="cardCode?.invalid&&cardCode?.touched" class="error-message-container">
                <small *ngIf="cardCode?.errors?.['required']">Card code required</small>
                <small *ngIf="cardCode?.errors?.['pattern']">Invalid card code</small>
            </div>
          </div>
        </div>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit error omnis sunt magnam ipsam. Quod laboriosam ducimus veritatis explicabo, nulla atque. Maiores neque autem velit?</p>
        
        <button type="submit" class="btn text-xl" [disabled]="checkoutForm.invalid">Submit</button>
    </form>
    </div>
  </div>