.product-list{
    padding: 100px 0px;
    &.container{
        width: 95%;
        margin: auto;
    }
}
:host ::ng-deep {
    .p-dropdown{
        width: 200px;
        &:not(.p-disabled):hover, &:focus{
            border-color: #f29a27;
            box-shadow: #fdbd69b6 0px 2px 8px 0px;

        }
        &.p-focus{
            border-color: #f29a27;
            box-shadow: #fdbd69b6 0px 2px 8px 0px;
        }
    }
    .p-dropdown-panel .p-dropdown-items {
        .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
            color: #495057;
            background: #e7ded2c5;;
        }
        .p-dropdown-item{
            &.p-highlight {
                color: #f29a27;
                background: #f8f2e9;
            }
        }

    }
    .p-paginator-rpp-options.p-dropdown{
        width: 80px;
    }
}
.products{
    margin-top: 30px;
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
}
.list-empty{
    display: flex;
    justify-content: center;
    font-size: 50px;
    line-height: 200px;
    text-align: center;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(#f29a27, #FFE53B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
app-product-card{
    width: calc((100% - 60px) / 4);
}
@media screen and (max-width:992px){
    app-product-card{
        width: calc((100% - 40px) / 3);
    }
}
@media screen and (max-width:768px){
    app-product-card{
        width: calc((100% - 20px) / 2);
    }
}
@media screen and (max-width:576px){
    app-product-card{
        width: 100%;
    }
}