<section class="product-list container">  
    <div>
        <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" optionLabel="category" (onChange)="productsFilteration()"></p-dropdown>
    </div>

    <section class="products mb-6">
        <ng-container *ngFor="let product of productsList | slice:first:first+rows">
            <app-product-card [productData]="product"></app-product-card>
        </ng-container>
    </section>
    <span *ngIf="!productsList.length" class="list-empty">There are no products</span>
    
<p-paginator *ngIf="productsList.length" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="productsList.length" [rowsPerPageOptions]="[4, 8, 10]"></p-paginator> 
</section>
