<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- error message alert -->
<div *ngIf="errorMessage.show" class="alert flex align-items-center justify-content-center w-full">
    <div class="inpage-alert">
        <main>
            <div (click)="resetErrorMessage()" class="close pi pi-times"></div>
          <div class="inpage-alert__icon">
            <i class="pi pi-exclamation-triangle"></i>
          </div>
          <div class="inpage-alert__message">
            <p class="text-4xl">{{errorMessage.errorCode}}</p>
            <ul>
              <li class="text-base font-medium mt-1">
                {{errorMessage.message}}
              </li>
            </ul>
          </div>
        </main>
    </div>
</div>
  