@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.css';
@import "../node_modules/primeicons/primeicons.css";

// reset
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
