<section class="login">
    <div class="wrapper">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h2>Login</h2>
            <div class="input-field">
              <input required type="text" formControlName="email">
              <label>Enter your email</label>
            </div>
            <div *ngIf="email?.invalid &&email?.touched" class="error-message-container">
              <small *ngIf="email?.errors?.['required']">Email required</small>
              <small *ngIf="email?.errors?.['pattern']">Invalid email</small>
            </div>
            <div class="input-field">
              <input required type="password" formControlName="password">
              <label>Enter your password</label>
            </div>
            <div *ngIf="password?.invalid &&password?.touched" class="error-message-container">
              <small *ngIf="password?.errors?.['required']">password required</small>
              <small *ngIf="password?.errors?.['pattern']">Invalid password</small>
            </div>
            <div class="forget">
              <label for="remember">
                <input type="checkbox" id="remember">
                <p>Remember me</p>
              </label>
              <a href="#">Forgot password?</a>
            </div>
            <button type="submit" [disabled]="loginForm.invalid">Log In</button>
            <div class="register">
              <p>Don't have an account? <a routerLink="/auth/registration">Register</a></p>
            </div>
        </form>
      </div>
</section>